<section>
  <header>
    <button type="button" (click)="addChild()">+</button>
    <h3>Section {{ no }}</h3>
    <button type="button" (click)="onRemove()" [disabled]="!removable">
      X
    </button>
  </header>
  <div>
    <app-input-container
      *ngFor="let item of items; let i = index"
      [no]="i + 1"
      [data]="item.value"
      [removable]="items.length > 1"
      (remove)="removeChild(i)"
      (dataChanges)="changeChild(i, $event)"
    ></app-input-container>
  </div>
  <output>{{ getResult() }}</output>
</section>
